# Ejecutables y archivos compilados de C++
*.exe
*.out
*.o
*.obj

# Carpetas de compilación
build/
bin/
obj/
Debug/
Release/

# Configuración local de Visual Studio Code
.vscode/

# Archivos temporales
*.tmp
*.log
*~